.btn {
  display: inline-block;
  padding: 10px 44px;
  border-radius: 25px;
  margin-top: 4px;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: $blue;
}

