.form {
  padding-top: 24px;
  border-radius: 6px;
  background-color: #fff4b3;

  &__container {
    width: 530px;
    margin: 0 auto;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }

  &__form {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  &__group {
    @include clearfix;
    padding-bottom: 15px;
  }

  &__col {
    float: left;
    width: 360px;
  }

  &__col:first-child {
    padding-top: 10px;
    width: 165px;
  }


  &__label {
    display: inline-block;
    width: 164px;
    padding-left: 5px;
    // margin-bottom: 30px;
    font-size: 14px;
  }
  
  &__input-wrap {

    box-sizing: content-box;
    min-height: 40px;
  }

  &__input-wrap.invalid::after {
      content: "";
      display: block;
      padding-top: 10px;
      padding-left: 5px;
      font-size: 14px;
      color: #f00;
  }
  &__input-wrap.invalid--pattern::after {
      content: "Укажите правильно телефон";
  }
  

  .invalid &__input  {
    background-color: #eef0e5;
    box-shadow: none;
  }

  &__input {
    width: 360px;
    height: 40px;
    border: 1px solid #a6acb2;
    border-radius: 6px;
    padding: 0 15px;
    // margin-bottom: 15px;
    font-size: 14px;
    line-height: 40px;
    outline: none;
    background-color: #fff;


    &:focus {
      box-shadow: 0px 0px 10px 0px rgba(88, 204, 244, 0.9);
    }
  }


  &__submit {
    display: inline-block;
    width: 160px;
    height: 40px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #0d972b;
    cursor: pointer;
  }

  &__submit--disabled {
    background-color: #b6d88a;
    cursor: default;
  }

}