$opensans: "Open Sans", Arial, sans-serif;
$oswald: "oswaldmedium", Geneva, Arial, Helvetica, sans-serif;
$arial: Arial, sans-serif;
$playfairD: "PlayfairDisplay", "Georgia", serif;
$montserrat: "Montserrat", Geneva, Arial, Helvetica, sans-serif;


// $gray: #e5e5e5;
// $pink: #d22856;
// $dark-blue: #283645;

$blue: #3853d8;


$mobile-widths-only: "max-width: 619px";
$tablet-widths: "min-width: 620px";
$desktop-widths: "min-width: 940px";
